/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#B9A44C - Brass
#566E3D - Deep Spring Bud
#FE9920 - Deep Saffron
#FA7921 - Princeton Orange
#0C4767 - Dark Imperial Blue
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #566E3D;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #FA7921;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 95px;
  line-height: 1;
}
h2 {
  font-size: 40px;
}
h1, h2 {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #566E3D;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}


/* Profile
------------------------------------*/
header {
  background: #FE9920;
  color: #566E3D;
}


/* Projects
------------------------------------*/
.projects {
  background: #B9A44C;
}
.projects a {
  color: #FE9920;
}
.projects .btn {
  color: #FE9920;
  background: #FA7921;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(254, 153, 32, 80%);
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #0C4767;
}
.work-experience .btn {
  color: #B9A44C;
  background: #FA7921;
  text-decoration: none;
  padding:10px;
  border-radius: 4px;
  display: inline-block;
}
.work-experience .btn:hover {
  background: rgba(254, 153, 32, 80%);
}


/* Education
------------------------------------*/
.education {
  background-image: url(../images/joanna-kosinska-unsplash-edited.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}


/* Contact Info
------------------------------------*/
footer {
  background: #566E3D;
  color: #B9A44C;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}
